In [ ]:
#operators
#Arithmatic - they are used with numeric values to perform common mathematical operations.

In [ ]:
+,-,/,*,**,//,%

In [1]:
a = 10
b = 15
#Addition
print("Sum of two numbers is " , a + b)

Sum of two numbers is  25

In [2]:
print("Difference of two numbers is : " , a - b)

Difference of two numbers is :  -5

In [3]:
print("product of two numbers is: " , a * b)

product of two numbers is:  150

In [4]:
a/b

0.6666666666666666

In [5]:
15/3

5.0

In [6]:
15.0/3.0

5.0

In [7]:
17.25/4

4.3125

In [8]:
#Modulus -- Returns Remainder
15%3

0

In [ ]:
Task1 : Take one number as an input from user and check either it is even or not?

In [9]:
10%2

0

In [10]:
5%2

1

In [11]:
#Exponent
#X**y x to the power y

In [12]:
2**2

4

In [13]:
2**5

32

In [14]:
#Floor Division 
#Rounds the result down to the nearest whole number

In [15]:
x = 15
y = 2

In [16]:
x/y

7.5

In [17]:
x//y

7

In [18]:
17//3

5

In [19]:
17/3

5.666666666666667

In [20]:
#Python Comparison Operators
# They are used to compare two values.

In [21]:
x = 15
y = 7

In [22]:
#== it used to check either two variables are equal to each other or not
x == y

False

In [23]:
x == 0

False

In [24]:
x == 15

True

In [25]:
x!=y

True

In [26]:
x!=15

False

In [27]:
#Greater than
x >y

True

In [28]:
#Less than
x < y

False

In [29]:
x >= y

True

In [30]:
x <= y

False

In [31]:
#Python Logical Operators
# and -- Returns True if both statements as True
x

15

In [33]:
print(x<5 or x <10)

False

In [35]:
x = 5
print(x >3 or x <10)

True

In [ ]:
sal > 500000
yoexp > doesnt matter 
bonus = 10%

In [36]:
x = 5
print(x < 5 or x > 4)

True

In [37]:
#They are used to combine conditional statements.

In [40]:
not(x < 5 and x < 10)

True

In [43]:
#Member ship operators : are used to  test if a sequence is presented in an object or
# They are used to check either a paricular variable is a member of data container or not
# it just checks the presence of variable.

In [45]:
 "b" in "cetpa"

False

In [46]:
"b" not in "cetpa"

True

In [48]:
"1" in "1234"

True

In [54]:
5 not in [1,2,3,4] #lists acts as an iterable.

True

In [56]:
"E" in "cetpaE"

True

In [ ]:
what is the difference between = , == ?
Amswer: = act as your assignment operator
        == act as your comaprison operator
Assignment operator

In [65]:
x = 5
x+=3 # x = x +3

In [66]:
x

8

In [67]:
x-=3

In [68]:
x

5

In [69]:
x

5

In [71]:
x*=3
x

45

In [72]:
#Identity Operators
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [73]:
print(x is z)

True

In [74]:
print( x is y)# returns false because x is not the same object as y, even if they have the same content but their ids are different.

False

In [75]:
id(x)

1543443210056

In [76]:
id(y)

1543443387976

In [77]:
id(z)

1543443210056

In [78]:
print(x == y)

True

In [80]:
"a" in "cetpa" or "p" in " cetpa"

True

In [79]:
"a" in "cetpa" or "p" in " cetpa" and "k" in "cetpa"

True

In [81]:
x = 4
x +=1
print(x)

5

In [82]:
x-=2
print(x)

3

In [84]:
5.24//2

2.0

In [ ]:
x to the power y?
x ^ y
x ** y
x ^^ y
x * y

In [85]:
22%3

1

In [ ]:
ques. what is the output of the expression
3*1**3
a. 27
b. 9
c.3
d.1

In [86]:
3*1**3#exponential has higher precendence than multipication
# 1**3 = 1 , 3*1 = 3

3

In [ ]:
#PEMDAS
addition, subtraction are at same level
multipication and division are also at same level
Highest -- parenthesis
exponennt