Why Python?
1. Incredibly Efficient language.
2. our programs will do more in fewer lines of code than many other would require.
3. syntax allows us to write neet and clean code,easy to read
  and easy to debug.
Variables and DataTypes in Python:
DataTypes:
  Different kinds of data we can work within our python programs.
  Types:
   1. Numeric data
        a. Integers     b. Float  c. Long  d.complex
   2. String 
        Collection of characters.(a-z)
   3. Boolean : 
        a. True b.False
   4. None 
   advance DataTypes or Data Containers:
Lists, tuples and Dictionary and sets.
Variables: stored memory locations.

# variables and DataTypes

In [2]:
a

2

In [3]:
type(a)

int

In [4]:
#anything after # is declare as a comment
#memory location
id(a)

140727207763520

Float

In [8]:
b = 7.5
b

7.5

In [6]:
type(b)

float

In [7]:
b

7.5

Strings - collection or series of characters

In [ ]:
# we need to put a string in quotes
 #single quote
    #double quote
    #Triple quote

In [9]:
first_string = 'This is my first string'

In [10]:
first_string

'This is my first string'

In [11]:
type(first_string)

str

In [12]:
second_string = "This is my second string"

In [13]:
type(second_string)

str

In [14]:
second_string

'This is my second string'

In [ ]:
task1: create a variable consisting of string cetpa's students

In [16]:
third_string = "cetpa's students"

In [17]:
third_string

"cetpa's students"

In [20]:
#triple quotes is been for multi line string
fourth_string = ''''a
                    a'''

In [26]:
print(fourth_string)

'a
                    a

In [23]:
line_str = "I'm learning Python.\n It is the easiest programming lag"

In [25]:
print(line_str)

I'm learning Python.
 It is the easiest programming lag

In [27]:
line_str

"I'm learning Python.\n It is the easiest programming lag"

In [28]:
type(line_str)

str

In [ ]:
#in case of multiline string use print to call a variable.

In [29]:
d = True

In [30]:
d

True

In [31]:
type(d)

bool

In [33]:
e = False

In [34]:
e

False

In [35]:
g = None #

In [36]:
g

In [ ]:
#To decide a variables name we have to adhere certain rules.
1. Variable names can only contains Letters, numbers or underscore
  They can start with a letter or underscore but not with a number
  No special character is allowed except underscore.
2. Spaces are not allowed in variable names but _ can be used between two words.
3. Avoid python keywords and inbuilt function names as variable names
4. variable name should be short and descriptive for eg: stud_name instead of s_n
5. keep them in a lower case -- a convention.

In [ ]:
Keywords: keywords are special type of existing words in any programming language which cannot be used as 
          variable names or function names

In [62]:
import keyword

In [63]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [64]:
a = list(keyword.kwlist)

In [65]:
len(a)

35

In [42]:
Company = "cetpa" #variables are case sensitive
company = "tcs"

In [48]:
r = "apple","mango","banana"

In [50]:
type(r)

tuple

In [ ]:
a = 7
.
.
.
a = 8# error a already exists

In [55]:
a = 7

In [56]:
id(a)

140727207763680

In [57]:
b = 7

In [58]:
id(b)

140727207763680

In [59]:
b

7

In [60]:
a

7

In [61]:
a = 8

In [ ]:
id(a)

In [51]:
a = b = c = "orange"

In [52]:
id(a)

2096983944864

In [53]:
id(b)

2096983944864

In [54]:
id(c)

2096983944864

In [44]:
x

'apple'

In [45]:
y

'mango'

In [46]:
z

'banana'

In [66]:
#to calculate simple interest
principal = 20000
rate = 5
time = 1

In [67]:
si = (principal * rate * time)/100

In [68]:
print(si)

1000.0

In [69]:
print("The ammount of interest is : " , si)

The ammount of interest is :  1000.0

In [ ]:
task2 : find out area of circle having radius = 5 cm # completed

In [ ]:
# to take input from the user

In [77]:
r

('apple', 'mango', 'banana')

In [85]:
radius = int(input("Enter radius of circle : "))# i have to convert radius into int or float.
area = 3.14 *radius* radius
print(" the area of circle is", area)

Enter radius of circle : 4
 the area of circle is 50.24

In [73]:
radius = input("enter radius of circle : ")

enter radius of circle : 5

In [74]:
type(radius)

str

In [83]:
radius = float(input("enter radius "))

enter radius 4

In [84]:
type(radius)

float

Note: By Default input type or input we take from user is of str type.
    I need to convert string into integer or float according to my need
    and this process is known as typeconversion.
    Converting variable of one datatype to another datatype is known as type conversion.

# practice questions

Task3: WAP to add three numbers and take input from user
Task4: WAP to find out area of triangle having three different sides a,b and c. take input from user

In [1]:
#Task3:
a = int(input("Enter First number : "))
b = int(input("Enter Second number : "))
c = int(input("Enter Third number: "))
d = a + b+ c
print("Sum of three numbers is: " , d)

Enter First number : 2
Enter Second number : 4
Enter Third number: 6
Sum of three numbers is:  12

In [ ]:
We need to calculate area of Scalene Triangle
Semi perimeter = (a + b+ c)/2
Area = S(s-a)(s-b)(s-c)**1/2

Print(area)

In [5]:
#Task 4:
a = float(input("Enter First side of Triangle : "))
b = float(input("Enter Second side : "))
c = float(input("Enter Third side: "))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c)**1/2)
print("The Area of Scalene Triangle is : ", area)

Enter First side of Triangle : 5.0
Enter Second side : 2.0
Enter Third side: 1.0
The Area of Scalene Triangle is :  -12.0

In [9]:
a = 3
b = 7
c = a * b

In [10]:
c

21